.search-bar {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    transition: 0.3s ease;
}

.search-input-container {
    display: flex;
    align-items: center;
    border: px solid #ccc;
    border-radius: 5px;
    padding: 2px;
    transition: 0.3s ease;
}

.search-input-container input {
    flex: 1;
    border: none;
    outline: none;
}

.search-input-container button {
    border: none;
    background: none;
    cursor: pointer;
}

.search-input-container button i {
    color: #555;
    margin-right: 5px;
}
