.container-confirmacao {
    margin: auto;
    padding: 20px;
    margin-top: 150px;
    font-family: Arial, sans-serif;
    width: 1000px;
    text-align: center;
}

.nav-confirmacao {
    font-size: 14px;
    margin-bottom: 20px;
}

.nav-confirmacao span {
    font-weight: bold;
}

.secao-confirmacao {
    margin-bottom: 20px;
    text-align: left;
}

.imagens-gerais img {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.metodos-pagamento img {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.redes-sociais {
    list-style: none;
    padding: 0;
}

.redes-sociais li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.redes-sociais li svg {
    margin-right: 10px;
}

.button-confirmacao {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin: 10px;
}

.button-confirmacao:hover {
    background-color: #0056b3;
}

.foto-membro-conf {
    height: 60px;
    width: 60px;
    overflow: hidden;
}

.secao-equipa{
    margin-left: -3.5%;
}