.comment-list-container {
    display: flex;
    flex-direction: column;
}

.card-comment {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 10%;
}

.commentcard {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 20px;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comment-content {
    flex: 1;
}

.comment-name {
    font-size: 1.2em;
    font-weight: bold;
}

.comment-text {
    font-size: 0.8em;
}

.comment-images {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.comment-image {
    width: 50px;
    height: 50px;
}

.comment-date {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 0.8em;
    color: #888;
}

.show-more-container2 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.show-more-text2 {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
    text-align: right;
    width: 100%;
}

.titulo-comentarios {
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 30px;
}
