.sectionsbar-container {
    width: 100%;
    background-color: #000000;
    height: 100px;
    display: flex;
    align-items: center;

}

.sectionsbar-nav {
    width: 67%;
    display: flex;
    gap: 80px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 17px;
    justify-content: center;
}

.sectionsbar-nav .sectionsbar-nav-link {
    color: #ffffff;
    cursor: pointer;
}

.sectionsbar-nav .sectionsbar-nav-link:hover {
    color: #b1b1b1;
}